body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.buttonHub {
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: antiquewhite;
}

.pastelButton {
    margin: 2rem;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 10px 40px 13px;
    background-color: rgb(107, 137, 183);
    outline: 1px dashed black;
    outline-offset: 3px;
    color: aliceblue
}

.formHub {
    display: flex;
    flex-direction: row;
}

.pastelForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.pastelForm label {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 1.5rem;
}

.pastelForm .submitForm {
    width: 75%;
    font-size: 15px;
    margin-top: 2rem;
    font-weight: 700;
}

#addRacerForm {
    display: none;
}

.leaderBoard {
    display: none;
}