.mainPage {
    background: rgb(63, 94, 251);
    background: -moz-radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb", endColorstr="#fc466b", GradientType=1);
}

.form-hub {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: rgba(255, 255, 255, 0.137);
    padding: 1.5em;
    border-radius: 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

form label {
    font-family: 'Roboto', sans-serif;
    color: white;
}


h1 {
    font-family: 'Roboto', sans-serif;
}

#racer {
    background-color: antiquewhite;
}