body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
}

.buttonHub {
    width: 100%;
    margin: §rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: antiquewhite;
}

.pastelButton {
    margin: 2rem;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 10px 40px 13px;
    background-color: rgb(107, 137, 183);
    outline: 1px dashed black;
    outline-offset: 3px;
    color: aliceblue
}

#racerFormWrapper {
    display: none;
}

.pastelForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.pastelForm label {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 1.5rem;
}

.pastelForm .submitForm {
    width: 75%;
    font-size: 15px;
    margin-top: 2rem;
    font-weight: 700;
}

#competitionWrapper {
    display: none
}

#addCompetitions {
    background-color: rgb(221, 88, 88);
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}

#sortingFields {
    display: none;
}

.leaderBoardHub {
    display: none;
    width: 100%;
    border-radius: 3rem;


    /* no tengo buen ojo profesora espero no se enoje por usar esta paleta de  ui gradients.com */
    background: #D1913C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD194, #D1913C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD194, #D1913C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.leaderBoardHeadings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.leaderBoardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    padding: .25rem;
}


/* .leaderBoardRow .leaderBoardRow-number {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
} */